html, body {
   margin : 0;
   padding : 0;
   }

body {
   font : 13px Verdana, sans-serif;
   color : #FDFDE0;
   color : #E0E0E0;
   background : #000000 url(/images/crc.png) no-repeat bottom right fixed;
   position: relative;
   width : 100%;
}

a:link {
   color : #009966;
   background : transparent;
   text-decoration : none;
   font-weight: bold;
}

a:visited {
   color : #009966;
   text-decoration : none;
   font-weight: bold;
}

a:hover {
   color : #009966;
   text-decoration : underline;
   font-weight: bold;
 }

a:active {
   color : #009966;
   font-weight: bold;
}

h1 {
   text-align : center;
   margin : 0.5em 0.5em 0.5em 0.5em;
   color: #006600;
   font-size: 140%;
   
}

img {
   border : none;
}

#wrap {
   margin : 0 auto ;
   width : 100%;
   position: absolute; top: 0px; left: 0px; right: 0px;
}

#header {
   background: #000000 url(/images/header.jpg) repeat;
   margin : 0;
   height : 80px;
}
#header h1 {
	color: #FDFDE0;
	text-align :left;
	margin: 0;
	padding: 35px 0 0 20px;
	font-size: 200%;
}
	
#content {
   margin : 0;
   padding : 10px 20px 10px 20px;
}

hr { margin : 0 240px 6px 0; }
ul { margin : 0 240px 6px 0; }

#content p {
   margin : 0 240px 6px 0;
   text-align : justify;
}

#right {
   float : right;
   width : 241px;
   margin : 2em 5px 5px 20px;
   padding : 0 0 0 5px;
   background: transparent;

}


 #nav {
   margin: 0;
   background : #006600;
   width : 100%;
   border-bottom : 1px solid #006600;
   border-top: 1px solid #006600;
   border-left : none;
   border-right : 1px solid #006600;
   height:20px;
   
}

#nav ul {
   list-style : none;
   margin : 0;
   padding : 0;
   text-align : center;
}

#nav li {
   display : block;
   float : left;
}

#nav li a {
   color : #FDFDE0;
   display : block;
   width : 95px;
   text-decoration : none;
   background : #669900;
   background : #006600;
   padding : 2px 10px;
   border-left : 1px solid #669900;
   border-right : none;
}

#nav ul li a:hover {
   color : #FFFFCC;
   background : #669900;
}

#nav a:active	{
   background : #669900;
   color : #FDFDE0;
}

#special {
   border-right : 1px solid #006600;
}


#footer {
   margin : 0 0 10px 20px;
   padding : 0;
   text-align: left;
   
}

.fuzzy-border {
   border-style: dashed;
   border-width: 1px;
   padding: 3px 6px 3px 6px;
   margin : 0 240px 6px 0;
}

.fuzzy-border p {
   padding: 3px 6px 3px 6px;
}
